{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
    <h3>{{ 'header.success' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}</h3>
{% endblock content %}
